{{> pageStart }}
<link rel="stylesheet" href="/css/grid.css">
<h1>App View for Data Grid {{gridName}}</h1>

<div id="grid"></div>

<script type="text/javascript" src="/jsonApiClient.bundle.js"></script>
<script type="text/javascript">
    DataGrid.initGrid('#grid', '{{& actionUrl }}');
</script>
{{> pageEnd }}