{{> pageStart }}

<h1>Welcome to the Rate and Rank App</h1>
<p><a href="/grid">Click here to view all data grids</a></p>
<p><a href="/grid/new">Click here to create a new data grid</a></p>
<p><a href="/logout">Log Out</a></p>

{{> pageEnd }}