{{> pageStart }}
<link rel="stylesheet" href="/css/newGridForm.css">

<form name="newGrid" method="post" action="/grid/new">
    <label>Config:<br>
        <textarea name="config">{
    "name": "",
    "columns": [
        {"name": ""},
        {"name": ""}
    ]
}</textarea>
    </label>
    <label>Initial Rows:
        <textarea name="rows"></textarea>
    </label>
    <input type="submit">
</form>

<script type="text/javascript" src="/newGridForm.js"></script>
<script type="text/javascript">
    NewGridForm.init('form[name="newGrid"]');
</script>
{{> pageEnd }}