* {
    box-sizing: border-box;
}

body {
    background: white;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Geneva, sans-serif;
    min-height: 100vh;
}

main {
    font-size: 20px;
    max-width: 980px;
    margin: 4px auto;
}

p.main {
    max-width: 980px;
    margin: 32px auto;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    padding: 20px;
}

label {
    font-weight: bold;
}

/* Needs to be more specific, like inside a form / BEM */
input {
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 16px;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: #555;
    color: white;
    font-weight: bold;
}

footer {
    margin-top: auto;
}