body {
    background: #333;
}

.interactive-grid-form {
    border: none;
}

.interactive-grid-form header {
    font-size: 22px;
    margin: 6px 6px 18px;
}

.interactive-grid-form input,
.interactive-grid-form select {
    font-size: 16px;
    padding: 4px;
}

.interactive-grid-form button,
.interactive-grid-form input,
.interactive-grid-form label,
.interactive-grid-form select {
    margin-left: 6px;
}

.interactive-grid-form button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.interactive-grid-form input[type="number"] {
    width: 6ch;
}

button.add {
    border: 2px solid green;
    color: green;
    font-weight: bold;
    min-width: 1.5rem;
}

button.remove {
    border: 2px solid red;
    color: red;
    font-weight: bold;
    min-width: 1.5rem;
}

button.submit {
    background: darkgreen;
    border: 1px solid darkgreen;
    color: white;
    font-size: 18px;
    margin: 6px;
    padding: 8px;
}

div.properties {
    margin: 2px 36px;
}
